/**************************
* MARK: Fonts
**************************/

@font-face {
  font-family: "Comic Relief";
  src: url(../fonts/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

/**************************
* MARK: Custom properties
**************************/

html {
  color-scheme: light dark;
}

/**************************
* MARK: Algemene Styling
**************************/

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Comic Relief", system-ui;
}

/**************************
* MARK: Header
**************************/

header {
}

/**************************
* MARK: Footer
**************************/

footer {
}

/**************************
* MARK: Main
**************************/

main {
}

/**************************
* MARK: Section ...
**************************/
