/*   
  In deze file zie je de basic styling van de website. 
*/

:root {
  --h1: clamp(2.25rem, 1.5rem + 4vw, 3.75rem);
  --h2: clamp(1.8rem, 1.15rem + 3vw, 2.75rem);
  --h3: clamp(1.4rem, 0.9rem + 2.5vw, 2rem);
  --p: clamp(1.125rem, 0.75rem + 1.8vw, 1.5rem);
  --p-disappear: clamp(0rem, 0vw, 0rem);

  /* uitsnede van datapad*/

--breedte-uitsnede: 25rem;
--hoogte-uitsnede: 16rem;
--ronding: 25px;
}
/* 
* bron uitleg van gemini over alleen de berekning op basis dat ik er voor hebt gezorgt dat 2rem ongeveer 20px is
   * CLAMP UITLEG: clamp(minimum_op_mobiel, vloeiende_groei, maximum_op_web_en_tablet) 
   * Omdat 1rem = 10px, leest dit heel makkelijk: 1.5rem = 15px.
   */

*,*::before,*::after{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100%;
}

body{
  color:#FFF2F2;
  width:100vw;
  height:100vh;
}

h1{
  font-size: var(--h1);
}

h2{
  font-size: var(--h2);
}

h3{
  font-size: var(--h3);
}

body, p, a{
  font-size: var(--p);
}

a:focus-visible {
    outline: 3px solid var(--starwars-yellow);
    outline-offset: 5px;
}

.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

