#ahsokacookie {
    width: 10rem;
    height: 20rem;
    display: flex;

    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 50;

    /*butoon styling*/
    background: none;
    border: none;
    cursor:pointer;
    transition: transform 0.2s ease;

    &:hover,
    &:focus-visible{
        transform: scale(1.05);
    }

    @media(max-width:1000px) {
        width: 15rem;
        height: 15rem;
        right: .5rem;
        bottom: 2rem;
    }

    @media (max-width:500px) {
        width: 10rem;
        height: 10rem;
        right: .5rem;
        bottom: 5rem;
    }

    @media(prefers-reduce-motion: reduce){
        animation: none;
    }

}

button#ahsokacookie:hover img,
button#ahsokacookie:focus-visible img {
    content: url(../images/ahsokacookie2.svg);
}

button#ahsokacookie:focus-visible{
    outline: 3px solid var(--starwars-yellow);
}

dialog#cookiepopup[open] {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
    top: 24%;
    left: 40%;
    bottom: 25%;
    padding-left:5rem;

    width: 60rem;
    height: 50rem;
    max-height: 50vh;
    max-width: 90vw;
    padding: 2rem;
    border: none;
    overflow: visible;
    border-radius: 2rem;

    background-color: var(--bg-color);
    color: var(--text-color);

    h2 {
        font-family: 'Deathstar';
        font-size: var(--h2);
        letter-spacing: .5rem;
    }

    p {
        font-family: 'Montserrat';
        font-size: var(--p);
    }

    @media(max-width:1000px) {
        top: 10%;
        left: 10%;
        bottom: 25%;
        max-height: 50vh;
        max-width: 90vw;
    }

    @media (max-width:500px) {
        top: 15%;
        left: 3.5%;
        bottom: 25%;
        gap: 2rem;
        max-height: 60vh;
        max-width: 90vw;
    }
}

dialog#cookiepopup[open]::after {
    content: '';
    position: absolute;
    bottom: -2.5rem;
    right: 4rem;

    border-width: 4rem 0rem 0rem 4rem;
    border-style: solid;
    border-color: var(--bg-color) transparent transparent transparent;
}

dialog#cookiepopup::backdrop {
    background-color: var(--gradient-black-overlay-bg);
}

dialog h2 {
    font-family: 'Deathstar';
    letter-spacing: .5rem;
}

dialog p {
    font-family: 'Montserrat';
}

dialog#cookiepopup>section {
    position: static;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
}

dialog#cookiepopup>button,
#acceptbtn,
#declinebtn{
    background-color: var(--black-color);
    color: var(--starwars-yellow);
    width: 15rem;
    height: 3.5rem;

    position: relative;

    display: grid;
    place-items: center;
    border-radius: 2.5rem;
    left:15%;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: var(--p);
    text-align: center;

    text-decoration: none;
    text-transform: uppercase;
    cursor:pointer;
    border: 2px solid transparent;

    @media(max-width:500px){
        width: 19rem;
        height: 5rem;
        display: grid;
        place-items: center;
        border-radius: 2.5rem;
        text-align: center;
    }

    @media (max-width:1000px){
        width: 12.5rem;
        height: 4rem;
        display: grid;
        place-items: center;
        border-radius: 2.5rem;
        text-align: center;
    }

}

#acceptbtn:hover,
#declinebtn:hover{
    background-color: var(--starwars-yellow);
    color: var(--black-color);
    border: 2px solid var(--black-color);
}

#acceptbtn:focus-visible,
#declinebtn:focus-visible {
    outline: 3px solid var(--starwars-yellow);
    outline-offset: 3px;
}
