#ahsokacookie {
    width: 20rem;
    height: 20rem;
    display: flex;

    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 50;

    /*butoon styling*/
    background: none;
    border: none;

    @media(max-width:1000px) {
        width:10rem;
        height:10rem;
        right:.5rem;
        bottom:.5rem;
    }

    @media (max-width:500px) {
        width:5rem;
        height:5rem;
        right:.5rem;
        bottom:.5rem;
    }

}

button#ahsokacookie:hover img {
    content: url(../images/ahsokacookie2.svg);
}

#ahsokacookie {}