@import url(./colors.css);
@import url(./fonts.css);
@import url(./algemenestyling.css);
@import url(./cookiepopup.css);


/**************************
* MARK: lightside 
**************************/
header {
  display: grid;


  @media(max-width:1000px) {}

  @media(max-width:500px) {
    background-image: linear-gradient(to top,
        var(--gradient-black-overlay-bg) 50%,
        var(--gradient-darkblueish-overlay-bg));
    opacity: 1.9;
    place-content: center;
  }
}

header > a:nth-of-type(1){
  position:fixed;
	left:-9999em;
	
	z-index:1;
	padding:.5em;
	margin:.5em;

  background-color: var(--starwars-yellow);
  color: var(--text-color);
  outline-color: var(--gradient-black-overlay);
}

nav {
  position: relative;
  top: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-self: start;
  width: 100%;
  grid-area: 1/1;
  z-index: 2;


  @media(max-width: 500px) {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    /*  
  https://stackoverflow.com/questions/75366281/position-fixed-navigation-bar-at-bottom-of-screen?
  https://stackoverflow.com/questions/79321387/how-to-put-fixed-bars-on-top-and-bottom?
  */
  }
}

/* 
  Dit is de bron voor de grid-area en overlapping van items
  https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Line-based_placement
  https://css-tricks.com/complete-guide-css-grid-layout/
  https://wpbuilds.com/2024/08/01/383-no-script-show-episode-14-the-frontend-divide-ux-designers-vs-javascript-specialists-2/
 
  */

ul {
  background: linear-gradient(to right,
      var(--lightsaber-lightgrey) 0% 30%,
      var(--lightsaber-light-blue) 30% 100%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  place-content: center;

  list-style: none;
  width: 80%;
  height: 8rem;
  text-align: center;

  border-radius: 5rem 10rem 10rem 5rem;
  color: var(--text-color);

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  @media(max-width: 500px) {
    height: 5rem;
    background: linear-gradient(to right,
      var(--lightsaber-grey) 0% 30%,
      var(--lightsaber-light-blue) 30% 100%);
  }

}

li:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}

li:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
}

li:nth-of-type(3) {
  grid-column: 3;
  grid-row: 1;
}

li a {
  font-size: var(--h3);
  color: var(--text-color);
  text-decoration: none;
  font-family: "Montserrat";

  @media(max-width:500px) {
    display: grid;
    font-size: var(--p-disappear);
    justify-content: center;
    place-content: center;
    align-content: center;
    gap: 0.2rem;
  }
}


nav li:nth-of-type(1) a img,
nav li:nth-of-type(2) a img,
nav li:nth-of-type(3) a img {
  display: none;

  @media(max-width: 500px) {
    display: block;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    mix-blend-mode: normal;
    opacity: 1;
  }
}

a:focus-visible {
    outline: 3px solid var(--starwars-yellow);
    outline-offset: 5px;
}

picture {
  grid-area: 1/1;
}

header img {
  grid-area: 1/1;
  width: 99.5vw;
  height: 100%;
  object-fit: contain;
  object-position: center 20%;
  mix-blend-mode: overlay;
  opacity: 1.9;


  @media (max-width:1000px) {
    height: auto;
    width: 100%;
    object-position: center;
    place-items: center;
  }

  @media(max-width: 500px) {
    display: block;
    height: 70vh;
    width: 100%;
    object-fit: cover;
    object-position: left 75%;
    place-items: center;
  }

}

header picture:nth-of-type(2) {
  display: none;
}

section {
  position: relative;
  grid-area: 1/1;
  top: 15%;
  justify-items: end;
  justify-content: end;
  right: 5%;

  left: 25%;
  width: 50%;

  @media(max-width:1000px) {
    position: relative;
    grid-area: 1/1;
    top: 5%;
    justify-items: end;
    justify-content: end;
    right: 5%;

    left: 10%;
    width: 65%;
  }

  @media (max-width:500px) {
    top: 14rem;
    grid-template-columns: 1fr;
    gap: 3rem;
    place-content: center;
    height: 100%;
    width: 95%;
    right: 0;
    left: 0;
    justify-items: center;
    margin: 0 auto;
    text-align: center;
  }
}

/*
bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Line-based_placement
*/

section section {
  display: grid;
  gap: 1;
}

section section h1:nth-of-type(2),
section section p:nth-of-type(2) {
  display: none;
}

section h1::before,
section h1 {
  font-family: 'Deathstar';
  letter-spacing: 0.5rem;
  font-size: var(--h1);
}

section p::before,
section p {
  font-family: "Montserrat";
  font-size: var(--p);
}

/**************************
* MARK: lightside -main
**************************/
main {
  background-color: var(--bg-color);
  color: var(--text-color);

  @media (max-width:500px) {
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

main.hide-content {
  display: none;
  background-color: var(--gradient-black-overlay-bg);
  opacity: .5;

  #ahsokacookie {
    display: block;
  }

  @media(max-width:1000px) {}

  @media (max-width:500px) {}
}

main section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  place-content: center;
  width: 100vw;

  position: static;
  padding: 5rem 5rem 5rem 10rem;
  

  @media(max-width:1000px) {
    padding: 0;
  }

  @media (max-width:500px) {
    position: relative;
    top: 25rem;
    left: 0;
    right: 0;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 2rem;
  }
}

main section picture {
  grid-area: auto;
  margin: 0;
  padding: 0;
  grid-column: 2;
  grid-row: 2;

  @media (max-width:500px) {
    grid-column: 1;
    grid-row: 2;
  }
}

main section h2 {
  content: 'Meet the jedi you must';
  font-family: "Deathstar";
  font-size: var(--h1);
  letter-spacing: .5rem;
  text-align: left;
  grid-column: 1;
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: start;
  top:25rem;
  max-width: 40rem;

  @media(max-width:1000px) {
    font-size: var(--h2);
  }

  @media (max-width:500px) {
    font-size: var(--h2);
    grid-column: 1;
    grid-row: 1;
    max-width: 100%;
    text-align: center;
  }
}

main section h2:nth-of-type(2),
main section picture:nth-of-type(2) {
  display: none;
}

main picture:nth-of-type(1),
main section picture {
  display: block;
  width: 94%;
  place-items: right;
  justify-self: end;
  justify-items: right;
  rotate: calc(-10deg);

  @media(max-width:1000px) {
    font-size: var(--h2);
  }

  @media (max-width:500px) {
    width: 100%;
    justify-self: center;
    rotate: calc(0deg);
  }
}

main section img {
  display: flex;
  justify-content: left;
  justify-items: start;
  width: 110%;
  height: auto;
  z-index: -10;

  @media(max-width:1000px) {
    font-size: var(--h2);
  }

  @media (max-width:500px) {
    width: 100%;
    height: auto;
    justify-content: center;
  }
}

main picture:nth-of-type(2) {
  display: none;
}



/**************************
* MARK: Darks side
**************************/
[data-theme="dark"] {
  body {
    background-color: var(--bg-primairy-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
    padding: 0;
    margin: 0;
  }


  header picture:nth-of-type(1) {
    display: none;
  }

  header picture:nth-of-type(2) {
    display: block;
    grid-area: 1/1;
  }

  ul {
    background-image: linear-gradient(to right,
        var(--lightsaber-grey) 0% 30%,
        var(--lightsaber-red) 30% 100%);
  }

  header img {
    grid-area: 1/1;
    width: 99.5vw;
    height: 100%;
    object-fit: contain;
    object-position: center 20%;
    mix-blend-mode: overlay;
    opacity: 1.9;


    @media (max-width:1000px) {
      display: block;
      height: auto;
      width: 100%;
      object-position: center;
      place-items: center;
    }

    @media(max-width: 500px) {
      display: block;
      height: 70vh;
      width: 100%;
      object-fit: cover;
      object-position: center;
      place-items: center;
    }

  }

  section {
    position: relative;
    grid-area: 1/1;
    top: 15%;
    justify-items: end;
    justify-content: end;
    right: 5%;

    left: 25%;
    width: 50%;

    @media(max-width:1000px) {
      position: relative;
      grid-area: 1/1;
      top: 5%;
      justify-items: end;
      justify-content: end;
      right: 5%;

      left: 10%;
      width: 65%;
    }

    @media (max-width:500px) {
      top: 14rem;
      grid-template-columns: 1fr;
      gap: 3rem;
      place-content: center;
      height: 100%;
      width: 95%;
      right: 0;
      left: 0;
      justify-items: center;
      margin: 0 auto;
      text-align: center;
    }
  }

  section section h1:nth-of-type(1),
  section section p:nth-of-type(1) {
    display: none;
  }

  section section h1:nth-of-type(2),
  section section p:nth-of-type(2) {
    display: block;
  }

  section h1::before,
  section h1 {
    font-family: 'Deathstar';
    letter-spacing: 0.5rem;
    font-size: var(--h1);
  }

  section p::before,
  section p {
    font-family: "Montserrat";
    font-size: var(--p);
  }

  /**************************
* MARK: Darks side - main
**************************/
  main {
    background-color: var(--bg-primairy-color);
    color: var(--text-color);
  }

  main section h2:nth-of-type(1),
  main section picture:nth-of-type(1) {
    display: none;
  }

  main section h2:nth-of-type(2),
  main section picture:nth-of-type(2) {
    display: block;
  }

  main section picture:nth-of-type(1) {
    display: none;
  }

  main section picture:nth-of-type(2) {
    display: block;

  }

  main section img {
    display: flex;
    justify-content: right;
    justify-items: end;
    width: 110%;
    height: auto;
    z-index: -10;

    @media(max-width:1000px) {
      font-size: var(--h2);
    }

    @media (max-width:500px) {
      width: 100%;
      height: auto;
      justify-content: center;
    }
  }
}