@import url(./colors.css);
@import url(./fonts.css);
@import url(./algemenestyling.css);


/**************************
* MARK: lightside 
**************************/
header {
  display: grid;


  @media(max-width:1000px) {}

  @media(max-width:500px) {
    background-image: linear-gradient(to top,
        var(--gradient-black-overlay-bg) 50%,
        var(--gradient-darkblueish-overlay-bg));
    opacity: 1.9;
    place-content: center;
  }
}

nav {
  position: relative;
  top: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-self: start;
  width: 100%;
  grid-area: 1/1;
  z-index: 2;


  @media(max-width: 500px) {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    /*  
  https://stackoverflow.com/questions/75366281/position-fixed-navigation-bar-at-bottom-of-screen?
  https://stackoverflow.com/questions/79321387/how-to-put-fixed-bars-on-top-and-bottom?
  */
  }
}

/* 
  Dit is de bron voor de grid-area en overlapping van items
  https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Line-based_placement
  https://css-tricks.com/complete-guide-css-grid-layout/
  https://wpbuilds.com/2024/08/01/383-no-script-show-episode-14-the-frontend-divide-ux-designers-vs-javascript-specialists-2/
 
  */

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  place-content: center;

  list-style: none;
  width: 80%;
  height: 8rem;
  text-align: center;

  background-image: linear-gradient(to right,
      var(--lightsaber-grey) 0% 30%,
      var(--lightsaber-light-blue) 30% 100%);

  border-radius: 5rem 10rem 10rem 5rem;
  color: var(--text-color);

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  @media(max-width: 500px) {
    height: 5rem;
  }

}

li:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}

li:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
}

li:nth-of-type(3) {
  grid-column: 3;
  grid-row: 1;
}

li a {
  font-size: var(--h3);
  color: var(--text-color);
  text-decoration: none;
  font-family: "Montserrat";

  @media(max-width:500px) {
    display: grid;
    font-size: var(--p-disappear);
    justify-content: center;
    place-content: center;
    align-content: center;
    gap: 0.2rem;
  }

}



nav li:nth-of-type(1) a img,
nav li:nth-of-type(2) a img,
nav li:nth-of-type(3) a img {
  display: none;

  @media(max-width: 500px) {
    display: block;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    mix-blend-mode: normal;
    opacity: 1;
  }
}

picture {
  grid-area: 1/1;
}

header img {
  grid-area: 1/1;
  width: 99.5vw;
  height: 100%;
  object-fit: contain;
  object-position: center 20%;
  mix-blend-mode: overlay;
  opacity: 1.9;


  @media (max-width:1000px) {
    height: auto;
    width: 100%;
    object-position: center;
    place-items: center;
  }

  @media(max-width: 500px) {
    display: block;
    height: 70vh;
    width: 100%;
    object-fit: cover;
    object-position: left 75%;
    place-items: center;
  }

}

header:nth-of-type(2) {
  display: none;
}

section {
  position: relative;
  grid-area: 1/1;
  top: 15%;
  justify-items: end;
  justify-content: end;
  right: 5%;

  left: 25%;
  width: 50%;

  @media(max-width:1000px) {
    position: relative;
    grid-area: 1/1;
    top: 5%;
    justify-items: end;
    justify-content: end;
    right: 5%;

    left: 10%;
    width: 65%;
  }

  @media (max-width:500px) {
    top: 14rem;
    grid-template-columns: 1fr;
    gap: 3rem;
    place-content: center;
    height: 100%;
    width: 95%;
    right: 0;
    left: 0;
    justify-items: center;
    margin: 0 auto;
    text-align: center;
  }
}

/*
bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Line-based_placement
*/

section section {
  display: grid;
  gap: 1;
}

section h1::before,
section h1 {
  content: '"Hello There"';
  font-family: 'Deathstar';
  letter-spacing: 0.5rem;
  font-size: var(--h1);
}

section p::before,
section p {
  content: 'Welkom in de wereld van Star Wars. Net als Obi-wan op Tatioone, bewaart deze plek de kennis van een mooie tijdperk. Laat hem je gids zijn door de oude Jedi Orde.We duiken in de verhalen van legendarische Jedi-personages en hun diepe connectie met de Force. Ook ontdekken we de geheimen achter hun lightsabers en verkennen we de snelle Jedi Starfighters waarmee zij de vrede bewaarden. Neem de tijd, kijk rond en may the Force be with you.';
  font-family: "Montserrat";
  font-size: var(--p);
}



/**************************
* MARK: Darks side
**************************/
[data-theme="dark"] {
  body {
    background-color: var(--bg-primairy-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
    padding: 0;
    margin: 0;
  }


  header picture:nth-of-type(1) {
    display: none;
  }

  header picture:nth-of-type(2) {
    display: block;
    grid-area: 1/1;
  }

  ul {
    background-image: linear-gradient(to right,
        var(--lightsaber-grey) 0% 30%,
        var(--lightsaber-red) 30% 100%);
  }

  header img {
    grid-area: 1/1;
    width: 99.5vw;
    height: 100%;
    object-fit: contain;
    object-position: center 20%;
    mix-blend-mode: overlay;
    opacity: 1.9;


    @media (max-width:1000px) {
      display: block;
      height: auto;
      width: 100%;
      object-position: center;
      place-items: center;
    }

    @media(max-width: 500px) {
      display: block;
      height: 70vh;
      width: 100%;
      object-fit: cover;
      object-position: center;
      place-items: center;
    }

  }

  section {
    position: relative;
    grid-area: 1/1;
    top: 15%;
    justify-items: end;
    justify-content: end;
    right: 5%;

    left: 25%;
    width: 50%;

    @media(max-width:1000px) {
      position: relative;
      grid-area: 1/1;
      top: 5%;
      justify-items: end;
      justify-content: end;
      right: 5%;

      left: 10%;
      width: 65%;
    }

    @media (max-width:500px) {
      top: 14rem;
      grid-template-columns: 1fr;
      gap: 3rem;
      place-content: center;
      height: 100%;
      width: 95%;
      right: 0;
      left: 0;
      justify-items: center;
      margin: 0 auto;
      text-align: center;
    }
  }

  section h1::before,
  section h1 {
    content: '"If you only knew the power of the dark side."';
    font-family: 'Deathstar';
    letter-spacing: 0.5rem;
    font-size: var(--h1);
  }

  section p::before,
  section p {
    content: 'Met Darth Vader als gids leer je hier alles over de macht van de Sith. We kijken naar bekende Sith-personages en hun duistere band met de Force, maar duiken ook in de details van hun rode lightsabers en de iconische Imperial TIE Fighters. Kijk gerust rond en join the dark side.';
    font-family: "Montserrat";
    font-size: var(--p);
  }
}