@import url(./colors.css);
@import url(./fonts.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100vh;
    width: 100%;
}

body {
    font-size: 2rem;
    color: #FFF2F2;
    width: 100vw;
    height: 100vh;

    background: #152331;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, var(--gradient-black-bg) 40%, var(--gradient-darkblueish-bg) 10%, var(--gradient-black-bg) 40%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, var(--gradient-black-bg) 40%, var(--gradient-darkblueish-bg) 10%, var(--gradient-black-bg) 40%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    mix-blend-mode: cover;
    opacity: 0.3;
    z-index: -1;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    perspective: 80rem;
}

#crawl {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    gap: 4rem;
    width: 55%;
    max-width: 90rem;

    animation: scrollUp 15s ease-out forwards;
}

#crawl p {
    font-family: 'Montserrat';
    color: var(--starwars-yellow);
    font-size: 2rem;
}

h1 {
    font-family: "Cinzel";
    color: var(--starwars-yellow);
    font-size: 5rem;
    width: 100%;
}

p {
    font-family: 'Montserrat';
    color: var(--starwars-yellow);
    font-size: 2rem;
}

a {
    background-color: var(--black-color);
    color: var(--starwars-yellow);
    width: 25rem;
    height: 7rem;

    position: relative;

    display: grid;
    place-items: center;
    border-radius: 2.5rem;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2rem;
    text-align: center;

    text-decoration: none;
    text-transform: uppercase;

    animation: rotate 15s linear infinite;
}

a:hover::before,
a:hover::after {
    content: '';
    position: absolute;
    width: 26rem;
    height: 8rem;
    background: linear-gradient(to right,
            var(--lightsaber-red)25%,
            var(--lightsaber-light-blue),
            var(--lightsaber-blue),
            var(--lightsaber-red));
    background-size: 400%;
    border-radius: inherit;
    z-index: -2;
    filter: blur(5px);

    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


@keyframes scrollUp {
    0% {
        transform: translateY(100vh) rotateX(20deg);
    }

    100% {
        transform: translateY(-10vh) rotateX(0deg);
        opacity: 1;
    }
}

@media (max-width: 500px) {
    body {
        background: #152331;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, var(--gradient-black-bg) 40%, var(--gradient-darkblueish-bg) 10%, var(--gradient-black-bg) 40%);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, var(--gradient-black-bg) 40%, var(--gradient-darkblueish-bg) 10%, var(--gradient-black-bg) 40%);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: grid;
        place-items: center;
        padding: 1rem 1.5rem rem 1.5rem;
        width: 100%;
    }

    video {
        object-fit: cover;
        gap: 2rem;
    }

    #crawl {
        width: 90%;
        height: auto;
        text-align: left;
        align-items: flex-start;
    }

    #crawl p {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    a {
        width: 19rem;
        height: 5rem;
        display: grid;
        place-items: center;
        border-radius: 2.5rem;
        font-size: 1.5rem;
        text-align: center;
    }

    a:hover::before,
    a:hover::after,
    a:active::before,
    a:active::after,
    a:focus::before,
    a:focus::after {
        content: '';
        position: absolute;
        width: 20rem;
        height: 6rem;

        animation: rotate 15s linear infinite;
    }

}


@media (max-width: 1000px) {
    body {
        background: #152331;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, var(--gradient-black-bg) 40%, var(--gradient-darkblueish-bg) 10%, var(--gradient-black-bg) 40%);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, var(--gradient-black-bg) 40%, var(--gradient-darkblueish-bg) 10%, var(--gradient-black-bg) 40%);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: grid;
        place-items: center;
        padding: 1rem 1.5rem rem 1.5rem;
        width: 100%;
    }

    video {
        object-fit: cover;
        gap: 2rem;
    }

    #crawl {
        width: 90%;
        height: 100%;
        text-align: left;
        align-items: flex-start;
    }

    #crawl p {
        font-size: 2rem;

    }

    h1 {
        font-size: 3rem;
    }

    a {
        width: 19rem;
        height: 5rem;
        display: grid;
        place-items: center;
        border-radius: 2.5rem;
        font-size: 1.5rem;
        text-align: center;
    }

    a:hover::before,
    a:hover::after,
    a:active::before,
    a:active::after,
    a:focus::before,
    a:focus::after {
        content: '';
        position: absolute;
        width: 20rem;
        height: 6rem;

        animation: rotate 15s linear infinite;
    }
}